.action {
  height: 40px;
  width: 120px;
  background-color: #00b4d8a4;
  transition: 0.3s;
  color: #03045e;
  font-size: 1em;
}

.button:hover,
.active {
  background-color: #03045e;
  color: white;
}