.container {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

.left {
  display: grid;
  gap: 8px;
  justify-items: right;
}

.center {
  margin-left: 5px;
}

.right {
  display: grid;
  gap: 8px;
  justify-items: left;
}