.numpad {
  width: 75px;
  height: 88px;
  background-color: #03045e;
  transition: 0.3s;
  color: white;
}

.numpad:hover {
  background-color: #00b4d8a4;
  color: #03045e;
}

.numpad-icon {
  font-size: 3.5em;
}